<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">


  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>true</param-value>
  </context-param>

  <security-constraint>
    <display-name>None Authorized Resource</display-name>
    <web-resource-collection>
      <web-resource-name>non-protected-page</web-resource-name>
      <description>認証不要リソース</description>
      <url-pattern>/rest/ejb/*</url-pattern>
      <url-pattern>/rest/login/*</url-pattern>
      <url-pattern>/rest/swagger.json</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <display-name>Authorized Resource</display-name>
    <web-resource-collection>
      <web-resource-name>protected-page</web-resource-name>
      <description>ログイン認証後に表示されるリソース</description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>認証完了したユーザが参照できるリソース</description>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>own-domain</realm-name>
    <form-login-config>
      <form-login-page>/rest/login/</form-login-page>
      <form-error-page>/rest/login/</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>user</role-name>
  </security-role>
</web-app>
